<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
</head>
<body>
    <h1>Lista de usuários</h1>
    <ul>
        <% usuarios.forEach((user)=>{%>
            <li><b><%= user._nome%></b>: <%= user._funcao%></li>
       <% }) %>
    </ul>
</body>
</html>